<link rel="stylesheet" href="../../static/appweb/css/index.css">

 <!--NAVBAR-->
 <div class="main">
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'appweb:list' %}">MATA KULIAH</a>
        </li>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>
